.wrap {
	width: 1280px;
	margin: 0 auto;
}

.bodySite {
	width: 1280px;
}

.ramadalink {
	margin: 62px 0px 62px 0px;
}

.logocolor {
	color: black;
}

.ramadalink>a {
	font-size: 80px;
	color: #4bcaff;
}

.siteContent-img img {
 	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
 	overflow: hidden;
 }

.siteContent-img img:hover {
 	-webkit-transform: scale(1.1);
 	-moz-transform: scale(1.1);
 	-o-transform: scale(1.1);
}


.headerNavbar {
	background: #35444f;
	text-align: center;
}

header li {
	display: inline-block;
	padding: 26px 45px 26px 45px;
	border-left:1px solid #35444f;
    border-right:1px solid #35444f;
}

header li>a {
	color: #FFF;
	font-size: 24px;
}

header li:hover {
	background:#222f3a;
	border-left:1px solid #FFF;
    border-right:1px solid #FFF;
}
/*main conteiner*/
.mainContent {
	margin-top: 50px;
}

.mainContent-leftMenu {
	display: inline-block;
	width: 345px;
	float: left;
}

.mainContent-leftMenu nav {
	border: 1px solid black;
}

.mainContent-leftMenu li>a {
	font-size: 27px;
	color: #485863;
	line-height: 2.963;
}

.mainContent-leftMenu li {
	padding: 0px 0px 0px 42px;
}

.mainContent-leftMenu li:hover {
	background:#dbdbdb;
	padding: 0px 0px 0px 68px;
}

.mainContent-leftMenu li:hover a {
	background:#dbdbdb;
	color: #000000;
}

.siteContent {
	display: inline-block;
	width: 885px;
	float: right;
}

.siteContent-img {
	border: 1px solid black;
	padding: 75px 297px 73px 268px;
}

.siteContent-text {
	margin-top: 50px;
	width: 815px;
}

.siteContent-text p {
 	font-size: 18px;
 	line-height: 1.333;
 	padding-bottom: 35px;
 	padding-left: 50px;
 	color: #2c2c2c;
}
/*bottom block*/
footer {
	display: inline-block;
	width: 1280px;
	background: #b4b7ba;
	margin-bottom: 30px;
}

footer ul {
	float: left;
}

footer li {
	display: inline-block;
	padding:22px 25px 21px 0px;
}

footer>ul li:nth-child(1) {
	padding-left: 45px;
}

footer ul>li>a {
	font-size: 24px;
	color: #0c1927;
}

footer ul>li:hover>a {
	color: #3181a6 !important;
	border-bottom: 2px #3181a6 solid;
}

.copyfooter {
	float: right;
	font-size: 22px;
	color: #010101;
	padding:22px 35px 21px 0px;
}