header {
	width: 100%;
	background: #FFF;
}

nav {
	display: flex;
	justify-content:center;
	align-items:center;
	height: 82px;
}

ul {
  display: flex;
  align-items: center;
}

li>a {
	font-family: 'Roboto', sans-serif;
	color:  #54b9a6;
	font-size: 18px;
	font-weight: 900;
}

li { 
	margin:0 70px 0 0;
	display: flex;
 }

.mainContent {
	background: #f5f6f7;
}

.mainContent_img {
	width: 100%;
}

.mainContent_text {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin:58px 110px 0px 110px;
}

.mainContent_text>h5 {
	margin-bottom: 40px;
	font-size: 22px;
	font-weight: 900;
	color: #373737;
	letter-spacing: 2.4px;
}

.mainContent_text>p {
	color: #373737;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 2.4px;
	line-height: 1.625;
	margin-bottom: 45px;
}

.getStartedButton {
  	display:flex;
	justify-content: center;
	padding:0 0 95px 0;
}

.getStarted {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size:12px;
	background-color: #16a085;
	color: #fff;
	width:192px;
	height: 50px;
	letter-spacing: 2.4px;
	border-radius: 3px;
	border: none;
}

footer {
	height: 110px;
	width: 100%;
	display: flex;
	justify-content:flex-end;
	align-items: center;
}

.footerContent {
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 900;
	color: #373737;
	letter-spacing: 2.4px;
}
