body {
    font-family: 'Montserrat', sans-serif;
    cursor:default;
}
.change-color {
    color:#f1ad1d;
}

.section-one {
    height: 800px;
    background: url("../img/bg1.jpg") fixed center no-repeat;
    background-size: cover;
}

.header-text_1 {
    margin: 0px 0px 0px 82px;
    padding-top:436px;
    color:#FFF;
    font-family: 'Lato', sans-serif !important;
}

.header-text_1-1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-text_1-2 {
    font-size:18px;
}

.header-text_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin: 32px 0px 0px 82px;
    border:1px solid #fff;
    width: 835px;
    background-color: rgba(0, 0, 0, 0.302);
    font-size: 54px;
    font-weight: bold;
    line-height: 1.2;
}

.text_2-left {
    color:#f4bd4a;
    background: #FFF;
    width: 152px;
    padding: 23px 0px;
    display: flex;
    justify-content: center;
}

.text_2-right {
    color:#FFF;
    padding-right: 45px;
}

.block-1 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height: 440px;
    background: #FFF;
}
.block-1_head{
    color:#333333;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.block-1_text {
    color:#908e8a;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Lato', sans-serif !important;
}

.block-1_text::after {
    content:"";
    background-color: rgb(244, 142, 11);
    display: flex;
    width: 60px;
    height: 4px;
    margin: 55px auto 0px auto;
  }

.section-two {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height: 380px;
    background: url("../img/bg2.jpg") fixed center no-repeat;
    background-size: cover;
}

.section-two_text {
    text-transform: uppercase;
    font-size:22px;
    color: #FFF;
    font-weight: bold;
}

.section-two_text::after {
    content:"";
    background-color: rgb(244, 142, 11);
    display: flex;
    margin: 55px auto 0px auto;
    width: 60px;
    height: 4px;
}

.block-2 {
    height: 400px;
    background: #FFF;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.block-2_head{
    color:#333333;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.block-2_text {
    color:#908e8a;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Lato', sans-serif !important;
}

.block-2_text::after {
    content:"";
    background-color: rgb(244, 142, 11);
    display: flex;
    margin: 55px auto 0px auto;
    width: 60px;
    height: 4px;
}

.section-three {
    height: 475px;
    background: url("../img/bg3.jpg") fixed center no-repeat;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.section-three_text {
    text-transform: uppercase;
    font-size:22px;
    color: #FFF;
    font-weight: bold;
}

.section-three_text::after {
    content:"";
    background-color: rgb(244, 142, 11);
    display: flex;
    margin: 55px auto 0px auto;
    width: 60px;
    height: 4px;
}

.section-three_imgblock {
    margin-top:70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;

}

.block-3 {
    height: 400px;
    background: #FFF;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.block-3_head{
    color:#333333;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.block-3_text {
    color:#908e8a;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Lato', sans-serif !important;
}

.block-3_text::after {
    content:"";
    background-color: rgb(244, 142, 11);
    display: flex;
    margin: 55px auto 0px auto;
    width: 60px;
    height: 4px;
}

.section-four {
    height: 485px;
    background: url("../img/bg4.jpg") fixed center no-repeat;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}

.section-four_head {
    color:#FFF;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-four_head::after {
    content:"";
    background-color: rgb(244, 142, 11);
    display: flex;
    margin: 55px auto 0px auto;
    width: 60px;
    height: 4px;;
}

.section-four_text {
    color:#908e8a;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Lato', sans-serif !important;
}

.section-four_text .change-color{
    display: block;
    text-align: center;
}

.block-4 {
    height: 400px;
    background: #FFF;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.block-4_head{
    color:#333333;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.block-4_text {
    color:#908e8a;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Lato', sans-serif !important;
}