.parallax {
    font-family: 'Open Sans', sans-serif;
    cursor:default;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 250px;
}

.border-bottom {
    position: absolute;
    border-top:90px solid transparent;
    border-left: 49.5vw solid #fff;
    border-right: 49.5vw solid #fff;
    bottom:0;
    left:0;
    z-index: 99;
}

.border-top {
    position: absolute;
    border-top:90px solid #fff;
    border-left: 49.5vw solid transparent;
    border-right: 49.5vw solid transparent;
    top:0;
    left:0;
    z-index: 99;
}

.section-one {
    height: 600px;
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url("../img/bg1.jpg") fixed center no-repeat;
    background-size: cover;
    position: relative;
}

.header-line_menu {
    top:32px;
    height: 110px;
    background: #FFF;
    display: flex;
    justify-content:space-around;
    align-items:center;
    position: relative;
}

.icon-main {
    color: #818a8f;
    font-size: 36px;
}

.icon-main span {
    color: #14afca;
    text-transform: uppercase;
    font-weight: bold;
}

.header-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header-menu li {
    justify-self: center;
}

.header-menu a {
    color:#3e4c4e;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-menu li:first-child a {
    color: #14afca;
}

.header-banner {
    font-family: 'PT Sans', sans-serif;
    padding-top: 100px;
    font-size: 52px;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    transform-style: preserve-3d;
    transform: translateZ(-50px) scale(1.3);
}

.block-1 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    max-height: 410px; 
    height: 100vh;
    background: #FFF;
}

.block-1_head {
    font-size: 52px;
    text-transform: uppercase;
    color:#14afca;
    text-align: center;
    font-weight: bold;
    z-index: 23;
}

.block-1_head::after {
    content: "Lorem, ipsum dolor sit amet consectetur adipisicing";
    display: block;
    font-size: 18px;
    color:#424f57;
    text-transform: none;
    font-weight:600;
    z-index: 23;
}

.block-1_text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top:45px;
    width: 80%;
    color:#687279;
    text-align: center;
    line-height: 1.875;
}

.section-two {
    height: 720px;
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url("../img/bg2.jpg") fixed center no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.section-two_text {
    margin-top:150px;
    font-size: 52px;
    text-transform: uppercase;
    color:#14afca;
    text-align: center;
    font-weight: bold;
    transform: translateZ(-18px) scale(1);
}

.section-two_text::after {
    content: "Lorem, ipsum dolor sit amet consectetur adipisicing";
    display: block;
    font-size: 18px;
    color:#fff;
    text-transform: none;
    font-weight:600;
}

.companies-block {
    margin-top:50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 120px;
    transform: translateZ(-25px) scale(1);
}

.companies-block a {
    display:flex;
    align-items: center;
    justify-self: center;
}

.companies-block a:nth-child(2) img {
    background: #FFF;
    padding:10px;
}

.block-2 {
    height: 680px;
    background: #FFF;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.block-2_head {
    margin-top:80px;
    font-size: 52px;
    text-transform: uppercase;
    color:#14afca;
    text-align: center;
    font-weight: bold;
}

.block-2_head::after {
    content: "Lorem ipsum, dolor sit amet consectetur adipisicing";
    display: block;
    font-size: 18px;
    color:#576269;
    text-transform: none;
    font-weight:600;
}

.block-2_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 85px;
    text-align: center;
    margin:50px 195px 0px 195px;
}

.block-2_card div {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:#424f57;
    display:flex;
    flex-direction:column;
    align-items: center;
    line-height: 1.867;
}
  
.block-2_card-1::before {
    content:"";
    background: url(../img/card1.png) center no-repeat;
    width: 203px;
    height: 201px;
    display: block;
    margin-bottom:35px;
}

.block-2_card-2::before {
    content:""; 
    background: url(../img/card2.png) center no-repeat;
    width: 203px;
    height: 201px;
    display: block;
    margin-bottom:35px;
}

.block-2_card-3::before {
    content:"";
    background: url(../img/card3.png) center no-repeat;
    width: 203px;
    height: 201px;
    display: block;
    margin-bottom:35px;
}

.section-three {
    height: 575px;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url("../img/bg3.jpg") fixed center no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.section-three_head {
    margin-top:200px;
    font-size: 52px;
    text-transform: uppercase;
    color:#14afca;
    text-align: center;
    font-weight: bold;
    transform: translateZ(-18px) scale(1);
}

.section-three_head::after {
    content: "Lorem ipsum, dolor sit amet consectetur adipisicing";
    display: block;
    font-size: 18px;
    color:#fff;
    text-transform: none;
    font-weight:600;
}

.section-three_text {
    font-size: 16px;
    font-style: italic;
    margin-top:45px;
    width: 80%;
    color:#d3cccc;
    text-align: center;
    line-height: 1.875;
    transform: translateZ(-25px) scale(1);
}

.section-three_text::after {
    content:"- Shoaib Ahmed";
    text-align: right;
    margin-right: 10%;
    display:block;
    font-size: 18px;
    color:#fff;
}

.block-3 {
    height: 580px;
    background: #FFF;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.block-3_head {
    margin-top: 100px;
    font-size: 52px;
    text-transform: uppercase;
    color:#14afca;
    text-align: center;
    font-weight: bold;
}

.block-3_head::after {
    content: "Lorem ipsum, dolor sit amet consectetur";
    display: block;
    font-size: 18px;
    color:#424f57;
    text-transform: none;
    font-weight:600;
}

.block-3_centralblock {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:#424f57;
    text-transform: uppercase;
    font-weight: bold;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    line-height: 1.6;
    margin-top:60px;
}

footer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    line-height: 1.714;
    font-size: 14px;
    color: #575656;
    font-weight: 600;
    margin-top:120px;
}

.footer-2 a {
    font-weight: bold;
    color: #3d3c3c;
    font-size: 16px;
}