body {
    display:flex;
    justify-content: center;
    background: #000;
}

.factorial {
    font-size:28px;
    color:#000;
    padding:22px;
    border:5px solid aqua;
    border-radius: 50%;
    margin-top:60px;
    background: yellow;
}