* {
	font-family: 'Arimo';
}

body {
	 overflow-y:auto;
}

table {
	border: 30px solid #3a4965;
	box-sizing:border-box;
	cursor: default;
	text-align: center;
 	table-layout: fixed;
  	border-collapse: collapse;
}
/*head table*/
.headerline th {
	background: #fafafa;
}

.headerline th:not(:first-child) div:first-child {
	font-weight: bold;
	font-size: 24px;
	color: #FFF;
	text-transform: uppercase;
	padding: 21px 0px 21px 0px;
}

.header_th1 {
	text-transform: uppercase;
	color: #484848;
	font-size: 18px;
	vertical-align: bottom;
}

.header_th2-standart {
	background: #89c331;
}

.header_th3-ultimate {
	background: #f04a56;
}

.header_th4-premium {
	background: #20807c;
}

.header_th3 div,
.header_th4 div{
	box-shadow: inset -15px 0px 0px -15px #484848, inset 15px 0px 15px -15px #484848;
}

.header_th1 {
	box-shadow: inset -15px 0px 10px -15px #d7d7d7 , inset 0px 0px 15px -15px #d7d7d7;
}

/*table body*/
tbody>tr:not(.tbody_line1) td {
	padding: 22px 0px 22px 0px;
}

.tbody_line1 td {
	padding: 9px 0px 8px 0px;
}

.headerplus {
	padding: 0px !important;
	text-transform: uppercase;
	font-size: 30px;
	color: #484848;
	font-weight: bold;
	vertical-align: top;
}

.tbody_line1 {
	background: #fafafa;
}

tbody:not(:first-child) td:nth-of-type(1) span {
	font-size: 16px;
	color: #484848;
	text-transform: uppercase;
}

tbody td:not(:first-child) {
	font-size: 16px;
	color: #484848;
	text-transform: uppercase;
}

tbody:not(:first-child) td:nth-of-type(1) i {
	color: #848484;
	padding-right: 5px;
	font-size: 24px;
}

.tbody_line2,.tbody_line4,.tbody_line6 {
	background: #f2f2f2;
}

.tbody_line3,.tbody_line5,.tbody_line7 {
	background: #e3e3e3;
}

.standart_bottom>div {
	display: inline-block;
}

.ultimate_bottom>div {
	display: inline-block
}

.premium_bottom>div{
	display: inline-block
}

.priceleft {
	font-size: 60px;
	font-weight: bold;
	color: #484848;
}

.priceright {
	align-items:left !important;
	vertical-align: left;
}

.pricecent {
	color: #484848;
	font-size: 24px;
	font-weight: bold;
	padding-right: 75px;
}

.pricemonth {
	color: #484848;
	font-size: 18px;
}

tbody>tr td:nth-child(4),tbody>tr td:nth-child(3) {
	box-shadow: inset -15px 0px 0px -15px #d7d7d7, inset 15px 0px 15px -15px #d7d7d7;
}

tbody>tr td:nth-child(1) {
	box-shadow: inset -15px 0px 10px -15px #d7d7d7 , inset 0px 0px 15px -15px #d7d7d7;
}

/*table footer*/
tfoot td {
	height: 110px;
}

tfoot td:first-child {
	background: #dddddd;
	padding:0px 59px;
}

tfoot td:nth-child(2n+2) {
	background: #eeeeee;
	padding:0px 43px 0px 42px;
}

tfoot td:nth-child(3) {
	background: #f4f4f4;
	padding:0px 42px 0px 42px;
}

tfoot a {
	text-transform: uppercase;
	width: 192px;
  	height: 49px;
  	display: flex;
  	justify-content:center;
  	align-items:center;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

.tfooter_a-1 {
	background: #484848;
}

.tfooter_a-2 {
	background: #89c331;
}

.tfooter_a-3 {
	background: #f04a56;
}

.tfooter_a-4 {
	background: #20807c;
}

.tfooter_a-1:hover {
	background: rgb(64, 64, 64);
}

.tfooter_a-2:hover  {
	background:rgb(121, 176, 39);
}

.tfooter_a-3:hover  {
	background: rgb(223, 58, 70);
}

.tfooter_a-4:hover {
	background: rgb(22, 115, 111);
}

.tfooter_a-1:after {
	content: "";
  	background-color: rgb(64, 64, 64);
  	position: absolute;
  	border-bottom-right-radius:5px;
  	border-bottom-left-radius: 5px;
  	width: 192px;
  	height: 9px;
  	top: 669px;
}

  .tfooter_a-2:after {
	content: "";
  	background-color: rgb(121, 176, 39);
 	position: absolute;
	border-bottom-right-radius:5px;
  	border-bottom-left-radius: 5px;
  	width: 192px;
  	height: 9px;
  	top: 669px;
}

.tfooter_a-3:after {
	content: "";
  	background-color: rgb(223, 58, 70);
 	position: absolute;
	border-bottom-right-radius:5px;
  	border-bottom-left-radius: 5px;
  	width: 192px;
  	height: 9px;
  	top: 669px;
}

.tfooter_a-4:after {
	content: "";
  	background-color: rgb(22, 115, 111);
  	position: absolute;
	border-bottom-right-radius:5px;
  	border-bottom-left-radius: 5px;
  	width: 192px;
  	height: 9px;
  	top: 669px;
}

tfoot>tr td:nth-child(4),tfoot>tr td:nth-child(3) {
	box-shadow: inset -15px 0px 0px -15px #d7d7d7, inset 15px 0px 15px -15px #d7d7d7;
}

tfoot>tr td:nth-child(1) {
	  box-shadow: inset -15px 0px 10px -15px #d7d7d7 , inset 0px 0px 15px -15px #d7d7d7;
}