body {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.controls {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.display {
    background: aqua;
    color:red;
    width: 150px;
    text-align: center;
    margin:20px;
    border:2px solid darkgray;
    
}
.display span {
    font-size:24px;
}

.display span:not(:last-child)::after {
    content: ':';
    font-size:24px;
    color: #000;
}

.controls>button {
    width: 100px;
    height: 20px;
    margin:5px 0px;
}
