body {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.hw4 {
    margin:50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
}

.factorial {
    font-size:28px;
    color:#000;
    padding:22px;
    border:5px solid aqua;
    border-radius: 50%;
    margin-top:60px;
    background: yellow;
}

.fibonachi {
    font-size:28px;
    color:#fff;
    padding:22px;
    border:5px solid red;
    border-radius: 50%;
    margin-top:60px;
    background: #b001ff;
}


body span:nth-child(2) {
    border-left:5px solid transparent;
    border-radius: 0%;

}