body, html {
	width: 100%;
	height: 100%;
	font-family: arial, verdana,sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
	cursor: default;
}

.audiostarwars {
	width: 0px;
	height: 0px;
}

.space {
	width: 100%;
	height: 100%;
	position: relative;	
}

#_1st {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(500px) rotateX(25deg);
}

.textanimation {
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 1s infinite;
	position: absolute;
	
}

.starsbody {
	position: absolute;
	border-radius: 50%/50%;
	background-image: -webkit-radial-gradient(white, black);
	width: 5px;
	height: 5px;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
/*animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction;*/
.stars1 {
	top: 31%;
	left: 19%;
	animation: staticanimation 5s 5s linear infinite;
}

.stars2 {
	top: 36%;
	left: 69%;
	animation: animation6 9s linear infinite;
}

.stars3 {
	top: 78%;
	left: 83%;
	animation: animation6 7s 2s linear infinite;
}

.stars4 {
	top: 30%;
	left: 76%;
	animation: animation5 5s 4s linear infinite;
}

.stars5 {
	top: 23%;
	left: 90%;
	animation: animation7 6s 1s linear infinite;
}

.stars6 {
	top: 51%;
	left: 10%;
	animation: animation3 6s 1s linear infinite;
}

.stars7 {
	top: 10%;
	left: 70%;
	animation: animation2 20s 3s linear infinite;
}

.stars8 {
	top: 25%;
	left: 40%;
	animation: animation3 9s 1s linear infinite;
}

.stars9 {
	top: 10%;
	left: 48%;
	animation: animation1 15s 3s linear infinite;
}

.stars10 {
	top: 49%;
	left: 95%;
	animation: staticanimation 5s 2s linear infinite;
}

.stars11 {
	top: 47%;
	left: 81%;
	animation: animation2 20s 3s linear infinite;
}

.stars12 {
	top: 55%;
	left: 78%;
	animation: animation4 13s 6s linear infinite;
}

.stars13 {
	top: 49%;
	left: 30%;
	animation: animation5 7s 2s linear infinite;
}

.stars14 {
	top: 19%;
	left: 74%;
	animation:animation1 15s 3s linear infinite;
}

.stars15 {
	top: 8%;
	left: 28%;
	animation: animation2 7s 2s linear infinite;
}

.stars16 {
	top: 77%;
	left: 24%;
	animation: animation4 5s 6s linear infinite;
}

.stars17 {
	top: 18%;
	left: 8%;
	animation: animation3 15s 3s linear infinite;
}

.stars18 {
	top: 24%;
	left: 61%;
	animation: animation1 6s 3s linear infinite;;
}

.stars19 {
	top: 29%;
	left: 28%;
	animation: animation7 6s 3s linear infinite;
}

.stars20 {
	top: 18%;
	left: 78%;
	animation:animation7 15s 3s linear infinite;
}

@keyframes staticanimation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation1 {
	0% {
		width: 1px;
	}
	7% {
		width: 6px;
		opacity: 1;
		transform: translate(150px, 150px);	 
	}
	8% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation2 {
	0% {
		width: 3px;
	}
	12% {
		width: 10px;
		opacity: 1;
		transform: translate(-200px, 200px);	 
	}
	13% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation3 {
	0% {
		width: 3px;
	}
	10% {
		width: 10px;
		opacity: 1;
		transform: translate(200px, 300px);	 
	}
	11% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation4 {
	0% {
		width: 3px;
	}
	10% {
		width: 10px;
		opacity: 1;
		transform: translate(-400px, 300px);	 
	}
	11% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation5 {
	0% {
		width: 3px;
	}
	10% {
		width: 10px;
		opacity: 1;
		transform: translate(-300px, 300px);	 
	}
	11% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation6 {
	0% {
		width: 3px;
	}
	10% {
		width: 10px;
		opacity: 1;
		transform: translate(-600px, 200px);	 
	}
	11% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation7 {
	0% {
		width: 3px;
	}
	10% {
		width: 10px;
		opacity: 1;
		transform: translate(-300px, 300px);	 
	}
	11% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
