body {
	background: url("../img/rana-sawalha.png")no-repeat center fixed;
	background-size: cover;
	font-family: "Verdana", sans-serif;
    overflow:scroll;
}

#bodysite {
    /*fix start animation:*/
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding:12px 0px;
  	background: rgba(54, 25, 25, .5);
  	width: 100%;
}

.leftheader {
	margin-left: 81px;
}

.gotomain {
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
}

.gotomain:hover {
	color:#3d9c68;	
}

.rightheader {
	margin-right: 75px;
	display: flex;
}

.iconheader a {
	margin-left:28px;
}

.loginform {
	display: flex;
	justify-content:center;
	align-items: center;
}

.loginform:before {
  content: '';
  height: 100%;
  border: 0.5px solid #fff;
  margin:0px 25px; 
}

.loginform p {
	color:#f4f4f4;
	font-size: 14px;
	cursor: default;
}

.loginform a {
	font-size: 14px;
	color:#3cb878;
}

.loginform a:hover {
    text-decoration:underline;
}
/*sprite magic here*/
.sprite-header {
    background: url(../img/header-sprite.png) no-repeat;
    display:inline-block;
}

.navcalendar {
    width: 19px;
    height: 19px;
    background-position: 0 0;
    transition: background 0.9s;
}

.navforum {
    width: 28px;
    height: 20px;
    background-position: -24px -5px;
    transition: background 0.9s;
}

.navjourney {
    width: 20px;
    height: 20px;
    background-position: -72px -35px;
    transition: background 0.9s;
}

.navcalendar:hover{
    width: 19px;
    height: 19px;
    background-position: -5px -35px;
    transition: background 0.9s;
}

.navforum:hover {
    width: 28px;
    height: 20px;
    background-position: -34px -35px;
    transition: background 0.9s;
}

.navjourney:hover {
    width: 20px;
    height: 20px;
    background-position: -62px -5px;
    transition: background 0.9s;
}
/*central block-form*/
.registerform {
	width: 325px;
	height: 534px;
    padding:30px 60px 32px 62px;
    border-radius: 10px;
	background: #FFF;
	position: absolute;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 65px;
}

.session-tabs {
    margin-bottom: 15px;
    display: flex;
    justify-content:space-between;
}

.session-tabs a {
    font-size: 14px;
    color:#9ad6b4;
}

.session-tabs a:last-child:hover {
    text-decoration:underline;
}

.session-tabs a:first-child {
    font-size: 20px !important;
    color: #434343 !important;
}

.session-tabs a:first-child:before {
    content: "";
    width: 18px;
    height: 18px;
    top: 35px;
    left: 0;
    background: #3cb878;
    position: absolute;
}

.sociallogin {
    display: flex;
    justify-content:space-between;
}

.sociallogin a {
     display: flex;
     justify-content: space-around;
     align-items:center;
     position: relative;
}

.sociallogin p {
    font-size:16px;
    color:#FFF;
}
    
.sociallogin-facebook {
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background: #305db8
}

.sociallogin-facebook img {
    width: 10px;
    height: 20px;
}

.sociallogin-google {
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background: #df4a32;
}

.sociallogin-google img {
    width: 25px;
    height: 16px;
    margin-right: 15px;
}

.sociallogin-google p {
    margin-right: 15px;
}

.sociallogin p:after {
    content: "";
    display: block;
    background: url("../img/linewithsociallink.png") no-repeat center center;
    width: 1px;
    height: 28px;
    position: absolute;
    top: 9px;
    left: 47px;
}

.sociallogin-facebook:hover,
.sociallogin-facebook:focus {
    background: #264b96;
    color: #ffffff;
    text-decoration: none;
}

.sociallogin-facebook:active {
    background: #1ca4d6;
}

.sociallogin-google:hover,
.sociallogin-google:focus {
    background: #c3412c;
    color: #ffffff;
    text-decoration: none;
}

.sociallogin-google:active {
    background: #FF0000;
}

.orline p {
    color: #848484;
    font-size: 14px;
    margin-bottom: 18px;
    margin-top: 33px;
}

.orline p:before{
    margin-right: 20px;
}

.orline p:after {
    margin-left: 20px;
}

.orline p:before,
.orline p:after {
    background-color: #eaeaea;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 135px;
}

.registrationform {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.registrationform input {
   color: #bebebe;
    width: 302px;
    height: 46px;
    font-size: 14px;
    margin-bottom:9px;
    border:1px solid #eaeaea;
    border-radius: 3px;
    outline:none;
    padding-left: 20px;
}

.registrationform input:focus::-webkit-input-placeholder {color: transparent;}
.registrationform input:focus::-moz-placeholder          {color: transparent;}
.registrationform input:focus:-moz-placeholder           {color: transparent;}
.registrationform input:focus:-ms-input-placeholder      {color: transparent;}

.registrationform input:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
  color: #434343;
}

.registrationform input:last-child {
    margin-bottom: 10px;
}

.checkboxconteiner {
    margin-bottom: 25px;
}

.checkboxconteiner label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.checkboxconteiner>label input {
   padding-right: 19px;
}

.checkbox {
    display: none;
}

.checkbox-custom {
    position: relative;    
    width: 20px;             
    height: 20px;           
    border: 2px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.checkbox-custom,
.checkboxtex {
    display: inline-block;
    vertical-align: middle;
}

.checkboxtext {
   margin-left: 10px;

}

.checkbox:checked + .checkbox-custom::before {
    content: "";        
    display: block;       
    position: absolute; 
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: url("../img/checkbox.png") no-repeat center;     
    border-radius: 2px;
}

.checkboxconteiner a {
    font-size: 14px;
    color: #3cb878;
    margin-left: 6px;
}

.checkboxconteiner a:hover {
    text-decoration:underline;
}

.create-acc {
    background-color: #3cb878;
    width: 322px;
    height: 46px;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 3px;
    color:  #FFF;
    font-size: 16px
}

.create-acc:hover {
    background-color: #329a65;
}

