body {
	background: url('../img/background.jpg') no-repeat center fixed;
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

header {
	width: 1064px;
	padding-top:49px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerlogolink {
	display: flex;
}

.textheader div {
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding-left: 16px;
}

.headerleft:hover div {
	color: #f26522;
}

.headerimg {
	background: url('../img/logo.png') no-repeat;
	width: 44px;
	height: 46px;
}

.textheader div:nth-last-child(2) {
	font-size: 26px !important;
}

.headerleft:hover .headerimg {
	background: url('../img/logocolor.png') no-repeat;
}

.headerright div {
	color:#FFF;
	font-size: 18px;
}

.headerright div:nth-last-child(1) {
	padding-left: 73px;
}
/*card tours content*/
.toursinfo {
	padding-top:45px;
	width: 1064px;
	display: flex;
	flex-wrap:wrap;
}

.tourscard-view {
	position: relative;
	margin: 0 auto;
	border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #fefefe 100%);
    border-image-slice: 1;
    box-sizing: border-box;
    margin-bottom: 20px;
	width: 310px;
	height: 200px;
}

.viewcard1 {
	background: url('../img/card1.png') no-repeat;
}

.viewcard2 {
	background: url('../img/card2.png') no-repeat;
}

.viewcard3 {
	background: url('../img/card3.png') no-repeat;
}

.viewcard4 {
	background: url('../img/card4.png') no-repeat;
}

.viewcard5 {
	background: url('../img/card5.png') no-repeat;
}

.viewcard6 {
	background: url('../img/card6.png') no-repeat;
}

.fiximg {
	margin-right: 66px;
}

.tourscard-hiddenblock {
	display: none;
	position: absolute;
	left: -2px;
}

@keyframes hiddenblock-animation {
	0% {
		height: 0px;
    }
    
    100% {
    	height: 65px;
    }
}

@keyframes showtext-hiddenblock {
  from {
   	opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tourscard-view:hover .tourscard-hiddenblock {
	display: flex;
	background: #f26522;
	width: 310px;
	height: 65px;
	margin-top: 135px;
}

.toursinfo div:hover > .tourscard-hiddenblock {
	animation-name: hiddenblock-animation;
  	animation-duration: 0.55s;
}

.toursinfo div:hover > .tourscard-hiddenblock p {
  animation-duration:  1.8s;
  animation-name: showtext-hiddenblock;
}

.tourshiddenblock-price {
	margin-left: 25px;
	margin-top: 17px;
}

.tourshiddenblock-price:first-child {
	font-size: 10px;
	color: white;
}

.pricetour {
	font-size: 20px;
	color: white;
}

.tourshiddenblock-details p::after{
  	content:">";
	margin-left: 8px;
	font-size: 14px;
	font-weight: bold;
  	color: #f8b18f;
}

.tourshiddenblock-details p {
	font-size: 14px;
	color: white;
	margin-top: 35px;
	margin-left: 115px;
}

.linktext {
	font-size: 18px;
	text-align: center;
	color: #FFF;
}

.toursinfo div:hover .linktext {
	color: #f26522;
}

.toursinfo .tourscard{
	margin-bottom: 58px;
}
/*footer here*/
footer {
	margin-top: 3px;
	text-align: center;
}

footer p {
	font-size: 12px;
	color: #FFF;
}