* {
    cursor:pointer;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

#flagtcounter {
    width: 140px;
    height: 20px;
    text-align: center;
    border:5px solid lightgreen;
}

#mainConteiner {
    display:flex;
    flex-direction: column;
}

#startgame {
    text-decoration:none; 
    text-align:center; 
    padding:11px 32px;
    margin:10px 0px;
    border:solid 1px #004F72; 
    border-radius: 4px; 
    font:13px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#f5f2f4; 
    background: #000; 
}

#restart {
    text-decoration:none; 
    text-align:center; 
    padding:11px 32px;
    margin:10px 0px;
    border:solid 1px #004F72; 
    border-radius: 4px; 
    font:13px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#000; 
    background: red; 
}

#fieldsMines {
    padding:15px 40px;
    text-align: center;
    border:solid 1px #004F72;
}

#fieldsMines::-webkit-outer-spin-button,
#fieldsMines::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fas {
    width: 25px;
    height: 25px;
    background-color: #000;
    border:1px solid silver;
    text-align: center;
    color:#000;
    font-size:14px;
}

.flag {
    width: 25px;
    height: 25px;
    font-size:0px !important;
    position: relative;
    background-image:url('../img/flagVanila.jpg');
}

#mineField {
    display:grid;
}